# Get your connection string from the Neon Console:
# Project -> Dashboard -> Connect
DATABASE_URL=

# Generate a strong secret: openssl rand -base64 32
JWT_SECRET=


# APi key of the open Ai 
API_KEY_OPENAI=